<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
	<td colspan="2">
		<script type="text/javascript">
		// <![CDATA[
		
		// Define the bbCode tags
		var bbcode = new Array();
		var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
		var imageTag = false;
		
		// Helpline messages
		var help_line = {
			b: '{LA_BBCODE_B_HELP}',
			i: '{LA_BBCODE_I_HELP}',
			u: '{LA_BBCODE_U_HELP}',
			q: '{LA_BBCODE_Q_HELP}',
			c: '{LA_BBCODE_C_HELP}',
			l: '{LA_BBCODE_L_HELP}',
			o: '{LA_BBCODE_O_HELP}',
			p: '{LA_BBCODE_P_HELP}',
			w: '{LA_BBCODE_W_HELP}',
			s: '{LA_BBCODE_S_HELP}',
			f: '{LA_BBCODE_F_HELP}',
			e: '{LA_BBCODE_E_HELP}',
			d: '{LA_BBCODE_D_HELP}',
			t: '{LA_BBCODE_T_HELP}',
			tip: '{L_STYLES_TIP}'
			<!-- BEGIN custom_tags -->
				,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
			<!-- END custom_tags -->
		}

		// ]]>
		</script>
		<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>


